@font-face {
    font-family: 'Livvic-ExtraLightItalic';
    src: url('../../public//assets/fonts/Livvic-ExtraLightItalic.eot');
    src: url('../../public//assets/fonts/Livvic-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-ExtraLightItalic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-ExtraLightItalic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-Italic';
    src: url('../../public//assets/fonts/Livvic-Italic.eot');
    src: url('../../public//assets/fonts/Livvic-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-Italic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-Italic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'fontsLivvic-Light';
    src: url('../../public//assets/fonts/Livvic-Light.eot');
    src: url('../../public//assets/fonts/Livvic-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-Light.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-Light.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LightItalic';
    src: url('../../public//assets/fonts/Livvic-LightItalic.eot');
    src: url('../../public//assets/fonts/Livvic-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-LightItalic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-LightItalic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-SemiBoldItalic';
    src: url('../../public//assets/fonts/Livvic-SemiBoldItalic.eot');
    src: url('../../public//assets/fonts/Livvic-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-SemiBoldItalic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-SemiBoldItalic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-Medium';
    src: url('../../public//assets/fonts/Livvic-Medium.eot');
    src: url('../../public//assets/fonts/Livvic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-Medium.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-Medium.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-MediumItalic';
    src: url('../../public//assets/fonts/Livvic-MediumItalic.eot');
    src: url('../../public//assets/fonts/Livvic-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-MediumItalic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-MediumItalic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-Regular';
    src: url('../../public//assets/fonts/Livvic-Regular.eot');
    src: url('../../public//assets/fonts/Livvic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-Regular.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-Regular.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-SemiBold';
    src: url('../../public//assets/fonts/Livvic-SemiBold.eot');
    src: url('../../public//assets/fonts/Livvic-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-SemiBold.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-Thin';
    src: url('../../public//assets/fonts/Livvic-Thin.eot');
    src: url('../../public//assets/fonts/Livvic-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-Thin.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-Thin.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-Black';
    src: url('../../public//assets/fonts/Livvic-Black.eot');
    src: url('../../public//assets/fonts/Livvic-Black.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-Black.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-Black.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-Bold';
    src: url('../../public//assets/fonts/Livvic-Bold.eot');
    src: url('../../public//assets/fonts/Livvic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-Bold.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-Bold.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-BoldItalic';
    src: url('../../public//assets/fonts/Livvic-BoldItalic.eot');
    src: url('../../public//assets/fonts/Livvic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-BoldItalic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-BoldItalic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-ThinItalic';
    src: url('../../public//assets/fonts/Livvic-ThinItalic.eot');
    src: url('../../public//assets/fonts/Livvic-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-ThinItalic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-ThinItalic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BlackItalic';
    src: url('../../public//assets/fonts/Livvic-BlackItalic.eot');
    src: url('../../public//assets/fonts/Livvic-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-BlackItalic.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-BlackItalic.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic-ExtraLight';
    src: url('../../public//assets/fonts/Livvic-ExtraLight.eot');
    src: url('../../public//assets/fonts/Livvic-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../../public//assets/fonts/Livvic-ExtraLight.woff2') format('woff2'),
        url('../../public//assets/fonts/Livvic-ExtraLight.woff') format('woff'),
        url('../../public//assets/fonts/Livvic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #F7F4F1; /* Your desired background color */
  }